<!-- レビュー・モーダル・ダイアログ -->
<div class="modal fade" id="review-modal" tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      <h4 class="modal-title">ゲーム名を入力して下さい。</h4>
    </div>
    <div class="modal-body">
      <%= search_form_for search, url: games_search_name_path, class:"search form-inline" do |f| %>
          <%= f.label :name_cont, 'ゲーム名（部分検索可）', class:"control-label" %>
          <%= f.search_field :name_cont, class:"form-control field", placeholder:"英数は半角で入力して下さい。" %>
            <span class="input-group-btn"><%= button_tag sanitize('<i class="glyphicon glyphicon-search"></i>'), :type => "submit",:class =>"btn  btn-info" %></span>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
</div>


<!-- サーチ・モーダル・ダイアログ -->
<div class="modal fade" id="search-modal" tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      <h4 class="modal-title">プレイ人数と時間を入力して下さい。</h4>
    </div>
    <div class="modal-body text-center">
      <%= search_form_for @time_search, url: games_search_path, class:"search form-inline" do |s| %>
          <P>
            <%= s.label :min_player, 'プレイ人数（人）', class:"control-label" %>
            <%= s.search_field :min_player, class:"form-control field", placeholder:"数は半角で入力して下さい。" %>
          </P>
          <P>
            <%= s.label :time, 'プレイ時間（分）', class:"control-label" %>
            <%= s.search_field :time, class:"form-control field", placeholder:"数は半角で入力して下さい。" %>
              <p><%= s.submit ("検索") , class: 'btn btn-primary' %></p>
          </P>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
</div>


<!-- ライブラリ・モーダル・ダイアログ -->
<div class="modal fade" id="library-modal" tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      <h4 class="modal-title">ライブラリを表示できません。</h4>
    </div>
    <div class="modal-body text-center">
     <P>ライブラリを表示するには会員登録をする必要があります。</P>
     <p>ニックネームとパスワードだけで簡単に登録ができます。</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
</div>

<!-- レビューエラー・モーダル・ダイアログ -->
<div class="modal fade" id="review-error-modal" tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      <h4 class="modal-title">レビューを投稿できません。</h4>
    </div>
    <div class="modal-body text-center">
     <P>レビューを投稿するには会員登録をする必要があります。</P>
     <p>ニックネームとパスワードだけで簡単に登録ができます。</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
</div>
