<div class="container">
        <div class="row text-center">
		    <h3>基本情報編集</h3>

		    <% if @game.errors.any? %>
		    　　<div id="error_explanation">
		    　　<h2><%= @game.errors.count %>件のエラーが発生しました。</h2>
		    　　<ul>
		    　　<% @game.errors.full_messages.each do |message| %>
		    　　　　<li><%= message %></li>
		    　　<% end %>
		    　　</ul>
		    　　</div>
		    <% end %>
		</div>


		 <div class="row">

		  	<div class="col-lg-3">
		  	</div>

		  	<div class="col-lg-6 shadow-box">

		      	<%= form_for(@game)do |f| %>

					<div class="form-group">
				      	<%= f.label 'パッケージ写真' %>
				    	<%= f.attachment_field :image, class: "image", id: "file" %>
		                <div id="img_field" onClick="$('#file').click()" ></div>

					</div>
					<div class="form-group">
						　<%= f.label :name, 'ゲーム名' %>
						  <%= f.text_field :name, class: "form-control", placeholder:"ゲーム名を入力して下さい。" %>
						  <span id="helpBlock" class="help-block">パッケージに書いてある通りに入力して下さい。スペースは省略して下さい。</span>
					</div>


					<div class="form-group text-center">
						　<%= f.label 'プレイ人数　' %>
						  <%= f.number_field :min_player, min: 1, value: 1 %>人　〜　<%= f.number_field :max_player, min: 1, value: 1 %>人
						  <span id="helpBlock" class="help-block">人数が固定のゲームは両方に同じ数字を入れて下さい。</span>
						  <span id="helpBlock" class="help-block">（例：２人用ゲームの場合は ２人 〜 ２人）</span>
					</div>


					<div class="form-group text-center">
						<%= f.label 'プレイ種別' %>
						<div>
						  <label><%= f.radio_button :team, "false", {:checked => true} %>個人戦　　</label>
						  <label><%= f.radio_button :team, "true" %>チーム戦</label>
						</div>
					</div>
		　　　　　　　
		　　　　　　　<%= f.submit "基本情報更新", class: "btn btn-default"%>

				<% end %>

		  	</div>

		  	<div class="col-lg-3">
		  	</div>
		 </div>

</div>
<%= render 'games/modal_dialog', search: @search %>
