<div class="container">
	<div class="row">

     <h2 class="page-title">登録ゲーム一覧</h2>

          <table class="table">
		  	   <thead>
		  	   	      <tr>
		  	   	      	  <th>パッケージ</th>
		  	   	      	  <th>ゲーム名</th>
		  	   	      	  <th>詳細</th>
		  	   	      	  <th>おすすめ度</th>
		  	   	      	  <th>削除</th>
		  	   	      </tr>
		  	   </thead>

	        <% @games.each do |game| %>
		  	   <tbody>
		  	   	      <tr>
		  	   	      	  <th><%= attachment_image_tag game, :image, :fill, 80, 80 %></th>
		  	   	      	  <th><%= game.name %></th>
		  	   	      	  <th> <%= link_to '詳細', game_path(game.id), class: "btn btn-success" %></th>
		  	   	      	  <th><%= recommend_avarage(game) %></th>
		  	   	      	  <th><%= link_to '削除', game_path(game.id), method: :delete, "data-confirm" => "本当に削除してもいいですか。", class: "btn btn-danger" %></th>
		  	   	      </tr>
		  	   </tbody>
	   		<% end %>
	     </table>

    </div>
</div>
<%= render 'games/modal_dialog', search: @search %>