<body class="back-image">
<div class="container">

	<div class="row">
	
	  <div class="col-lg-2">
	  </div>
	  <div class="col-lg-8 text-center shadow-box white">
	       <h2>お問い合わせ内容確認</h2>

	       <%= form_for(@inquiry) do |f| %>
	         <div class="inquiry-form white">
	         	 <%= f.label "タイトル" %><br>
				 <%= f.hidden_field :title %>
				 <%= @inquiry.title %>
			 </div>
			 <div class="inquiry-form white">
			     <%= f.label "本文" %><br>
				 <%= f.hidden_field :body %>
				 <%= @inquiry.body %>
		     </div>

	         <div class="inquiry-form">
			 	<%= f.submit '送信', :class => 'btn btn-primary' %><br><br>
			 	<p><%= link_to "やり直す", new_inquiry_path, class: 'btn btn-default' %></p>
			 </div>
		   <% end %>
      </div>
      <div class="col-lg-2">
	  </div>

	</div>
</div>
</body>
<%= render 'games/modal_dialog', search: @search %>

