<div class="container">

	<div class="row text-center shadow-box">
       <h2>お問い合わせ入力フォーム</h2>

       <%= form_for(@inquiry) do |f| %>

       	<%= f.label :title, "タイトル" %>
       	<%= f.>
       	<%= f.label :body, "本文" %>

    </div>





















</div>
<%= render 'games/modal_dialog', search: @search %>