<div class="container">


  <div class="row text-center">
    <div class="game-title">
  	  <h2><%= @review.game.name %></h2>
    </div>
    <div class="game-image">
  	  <%= attachment_image_tag @review.game, :image, :fill, 300, 300 %>
    </div>
  </div>


  <div class="row">

  	<div class="col-lg-3">
  	</div>

  	<div class="col-lg-6 shadow-box">

  		<h4 class="text-center review-user">
  			<%= link_to user_path(@review.user.id) do %>
  			<%= @review.user.name %>
  			<% end %>さんのレビュー</h4>

        <div class="show-review-title">
			<div class="float clearfix">
				  <span>プレイ人数</span>
				  <%= @review.player %>人
		    </div>
		    <div class="float clearfix">
				  <span>所要時間</span>
				  <%= @review.play_time %>分
		    </div>
		    <div class="float clearfix">
				  <span>おすすめ度(1~5)</span>
				  <%= @review.recommend %>
			</div>
		</div>

		<div class="review-table">
			<table class="table">
				<thead>
					<tr>
						<th>ゲーム特性(1~5)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><span>戦略性</span>
		  					<%= @review.strategy %></th>
					</tr>
					<tr>
						<th> <span>運要素</span>
							 <%= @review.luck %></th>
					</tr>
					<tr>
						<th><span>素早さ</span>
							 <%= @review.quick %></th>
					</tr>
					<tr>
						<th><span>記憶力</span>
							 <%= @review.memory %></th>
					</tr>
					<tr>
						<th><span>トーク力</span>
							 <%= @review.talk %></th>
					</tr>
                    <tr>
						<th><span>心理推理力</span>
							 <%= @review.psychology %></th>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="form-group">
	        <span>コメント</span>
			<p><%= @review.comment %></p>
		</div>

        <!-- レビューを書いた本人がアクセスしたら、編集ボタンを表示する -->
		<% if @review.user == current_user %>
			<%= link_to "レビュー編集", edit_game_review_path(@review.game.id,@review.id), class: "btn btn-success btn-sm"%>
		<% else %>
		<% end %>


　　　　　　　

  	</div>

  	<div class="col-lg-3">
  	</div>



  </div>

</div>
</body>
<%= render 'games/modal_dialog', search: @search %>
